<!DOCTYPE html>
<html>
    
    <head>
        <title>Cashier Register Page</title>
        <link rel="stylesheet" href="../../css/cashier/homeCashierStyles.css">
        <link rel="stylesheet" href="../../css/cashier/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="page-background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 d-sm-block"></div>
                    <div class="col-lg-10 col-sm-12 buger-background">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                                
                                <div class="menu-container col-lg-8 col-md-10 col-sm-10">
                                    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
                                        <a class="navbar-brand" href="#">Cashier</a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNav">
                                            <ul class="navbar-nav ml-auto">
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">Place Order</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">New Customer</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">Notifications</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">Order History</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-8 hidden-lg"></div>
                                            <div class="col-4 cashier-pic hidden-lg"></div>
                                            <div class="col-2 cashier-pic hidden-xs"></div>
                                            <div class="col-9 small-text">Cashier ID : EOOI</div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                <div class="container">
                                                    <div  class="row small-text description-container1 scrollbar-1">
                                                        <p>
                                                            <span style="text-decoration: underline;">Description</span>
                                                            <br>
                                                            Hi  I’m “Test name”. I ‘m  a well experienced employee at Mos Burger.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 hidden-xs"></div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                <div class="container">
                                                    <div  class="row small-text description-container2 scrollbar-1">
                                                        <p>
                                                            <span style="text-decoration: underline;">Profile</span><br>
                                                            User Name : Test Name<br>
                                                            Age  : test Age<br>
                                                            Gender  : male<br>
                                                            Experience  : 5 yrs<br>
                                                            Email  : textName@gmail.com<br>
                                                            Contact  : 07xxxxxxxxxx
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12">
                                                <button type="button" class="btn-change">Change</button>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-1 d-sm-block"></div>
                </div>
            </div>
        </div>
        <script src="../../js/cashier/homeCashierScript.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>
</html>