@import url('https://fonts.cdnfonts.com/css/inika');
@import url('https://fonts.cdnfonts.com/css/inknut-antiqua');
.menu-container{
    height: 470px;
    background-color: rgba(255, 255, 255, 0.17);
    margin-top: 50px;
    border-radius: 30px;
    overflow:visible;
}
.navbar-custom {
    background-color: transparent; /* Change this to the desired color */
}

.navbar-custom .navbar-brand{
    font-family:'Inknut Antiqua', sans-serif; 
    font-size: 25px;
}
.navbar-custom .navbar-nav .nav-border{
    border-left: 2px solid rgba(255, 255, 255, 0.078);
    border-bottom:2px solid rgba(255, 255, 255, 0.078) ;
}

/* .navbar-custom .navbar-brand, */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size: 13px; /* Change this to the desired text color */
    text-align: center;
   
}

.navbar-custom .navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-custom .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    background-color: #2980b9; /* Change this to the desired dropdown background color on hover */
}

.navbar-custom .navbar-nav .nav-item.dropdown:hover .nav-link {
    color: #fff; /* Change this to the desired dropdown text color on hover */
}
@media(max-width:768px){
    .cashier-pic{
        height: 80px !important;
    }
}

@media(max-width:440px){
    .hidden-xs {
        display: none !important;
    }
}
@media(min-width:440px){
    .hidden-lg {
        display: none !important;
    }
}
.cashier-pic{
    border-radius: 50%;
    height: 85px;
    width:70px;
    border: 2px solid white;
    margin-left: 25px;
    overflow: hidden;
    background-image: url('../../img/profile.png');
    background-size: 90px 90px;
    background-position: center;
    margin-bottom: 10px;
}

.small-text{
    font-size: 15px;
    font-family: 'Inika', sans-serif;
    color: white;                                  
}
.description-container1{
    background-color: rgba(255, 255, 255, 0.17);
    overflow: auto;
    height: 110px;
    padding-left: 15px;
    padding-top: 3px;
    border-radius: 25px;
}
.description-container2{
    background-color: rgba(255, 255, 255, 0.17);
    overflow: auto;
    height: 180px;
    padding-left: 15px;
    padding-top: 3px;
    border-radius: 25px;
    margin-top: 5px;
}

.scrollbar-1::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.scrollbar-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 20px;
}
   
  /* Handle */
.scrollbar-1::-webkit-scrollbar-thumb {
    background-image: linear-gradient(black,white); 
    border-radius: 10px;
}
  
  /* Handle on hover */
.scrollbar-1::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(black,white);  
}
.scrollbar-1::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 15px; 
}
  
.scrollbar-1::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 15px;
}
.btn-change{
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 70%;
    width :100%;
    font-size:15px ;
    background-image: linear-gradient(rgb(61,150,255),transparent);
    border: 1px solid black;
}
@media(max-width :768px){
    .btn-change{
        margin-top: 2px; 
    }
    .menu-container{
        height: 510px;
    }
}
.btn-change:hover{
    background-color:  #63ff40;
    color: red;
}

