<!DOCTYPE html>
<html>
    <head>
        <title>Place Order Page</title>
        <link rel="stylesheet" href="../css/placeOrderStyles-3.css">
        <link rel="stylesheet" href="../css/cashierBackGround.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="page-background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 d-sm-block"></div>
                    <div class="col-lg-10 col-sm-12 buger-background">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                                
                                <div class="menu-container col-lg-8 col-md-10 col-sm-10">
                                    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
                                        <a class="navbar-brand" href="#">Cashier</a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNav">
                                            <ul class="navbar-nav ml-auto">
                                                <li class="nav-item nav-border nav-border-right">
                                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="#">Place Order</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">New Customer</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">Notifications</a>
                                                </li>
                                                <li class="nav-item nav-border">
                                                    <a class="nav-link" href="#">Order History</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="container" >
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-1" ></div>
                                            <div class="col-lg-3 col-md-3 col-sm-5" >
                                                <button type="button" class="btn-background" onclick=" generatePDF()">Print</button>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6" ></div>

                                            <div class="col-lg-6 col-md-6 col-sm-12 bill-container scrollbar-1" >
                                                <div id="content">
                                                    <!-- Your content goes here -->
                                                    <div><p id="order-id">Order1</p></div>
                                                    <div class="bill-heading"><p>Mos<br>Burgers</p></div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    code
                                                                </td>
                                                                <td>
                                                                    Name
                                                                </td>
                                                                <td>
                                                                    Item_Cost
                                                                </td>
                                                                <td>
                                                                    Qty
                                                                </td>
                                                                <td>
                                                                    Discount
                                                                </td>
                                                                <td>
                                                                    Amount
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    B001
                                                                </td>
                                                                <td>
                                                                    chuck Burger
                                                                </td>
                                                                <td>
                                                                    200
                                                                </td>
                                                                <td>
                                                                    3
                                                                </td>
                                                                <td>
                                                                    4
                                                                </td>
                                                                <td>
                                                                    590
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    B002
                                                                </td>
                                                                <td>
                                                                    chuck tako
                                                                </td>
                                                                <td>
                                                                    201
                                                                </td>
                                                                <td>
                                                                    3
                                                                </td>
                                                                <td>
                                                                    4
                                                                </td>
                                                                <td>
                                                                    592
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ---
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    Price
                                                                </td>
                                                                <td>
                                                                    3000
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    Discount
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ---
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                </td>
                                                                <td>
                                                                    Total
                                                                </td>
                                                                <td>
                                                                    3000
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ---
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                                <td>
                                                                    ----
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="bill-heading">Thank You</p></div>  
                                            
                                                  </div>
`
                                            </div>
                                        </div>

                                    </div> 

                                </div>
                                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-1 d-sm-block"></div>
                </div>
            </div>
        </div>
        
        <script src="../js/placeOrderScript-3.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    </body>
</html>